<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><b class="glyphicon glyphicon-th-large"></b> </a>
        </div>
        <div class="collapse navbar-collapse">
            <p class="navbar-text pull-right">
                <a href="{{ url_for('logout') }}" class="navbar-link">выйти</a>
            </p>
            <ul class="nav navbar-nav">
                <li class="divider-vertical"></li>
                <li><a href="{{ url_for('hello_world') }}"> Главная</a></li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Разделы<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"> Раздел1</a></li>
                        <li>
                            <a href="#"> Раздел2</a>
                        </li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>