<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Портфолио | Мой сайт</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="/static/html5/html5.js"></script>
    <![endif]-->

    <link href="/static/app/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">

    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-image: url('/static/app/images/bg.jpg');
        }

        .form-signin {
            max-width: 350px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 1);
            -moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 1);
            box-shadow: 0px 0px 18px rgba(0, 0, 0, 1);
        }

        .form-signin .form-signin-heading {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }
    </style>
</head>

<body>

<div class="container">

    <!--[if lt IE 9]>
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>Правильная работа сайта не гарантируется в браузере Internet Explorer.<br >
                        Настоятельно Вам рекомендуем установить
                        <a href="http://www.google.ru/intl/ru/chrome/browser/">Google Chrome</a> или
                        <a href="http://www.mozilla.org/ru/firefox/">Mozilla Firefox</a> </p>
            </div>
    <![endif]-->


    <form class="form-signin" action="{{ url_for('login') }}" method="post">
        <h3 class="form-signin-heading">Вход на сайт</h3>


        {% if failed %}
            <div class="alert alert-danger">
                Неверное имя пользователя<br> или пароль
            </div>
        {% endif %}
        <input tabindex="1" autofocus required="required" type="text" name="username" class="input-block-level form-control"
               placeholder="Имя пользователя">
        <input tabindex="2" required="required" type="password" name="password" class="input-block-level form-control"
               placeholder="Пароль">

        <button class="btn btn-large btn-primary" type="submit">Войти</button>
    </form>

</div>

<script src="/static/jquery/jquery-1.12.4.min.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<!--[if IE]>
<script src="/static/jquery/jquery.placeholder.min.js"></script>
<script>
    $(function() {
        $('input').placeholder();
    });
</script>
<![endif]-->


</body>
</html>
