{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block hr %}{% endblock %}

{% block top_header %}
    <div class="row"  id="logo">
    <div class="col-xs-2">
        <a href="/"><img src="/static/app/images/logo6.png" style="padding-left: 20px"></a>
    </div>
    <div class="col-xs-10">
        <h4>Главная</h4>
        <h5 class="text-muted">[ сайт для демонстрации портфтолио ]</h5>
    </div>
    </div>
{% endblock %}


{% block content_page %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="{{url_for('hello_world', p=1)}}">1</a></li>
        <li><a href="{{url_for('hello_world', p=2)}}">2</a></li>
        <li><a href="{{url_for('hello_world', p=3)}}">3</a></li>
        <li><a href="{{url_for('hello_world', p=4)}}">4</a></li>
        <li><a href="{{url_for('hello_world', p=5)}}">5</a></li>
        <li>
            <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        </ul>
    </nav>

    <div id="app">

    {% for cat in cats %}
    <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" alt="64x64" style="width: 150px; height: 150px;" src="{{cat[5]}}" data-holder-rendered="true">
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading">{{cat[1]}}</h3>
          <h4 class="media-heading">Порода: {{cat[2]}}</h4>
          <h4 class="media-heading">Возраст: {{cat[4]}}</h4>
          <p>{{cat[3]}}</p>

        </div>
    </div>
    <br>
    <br>
    {% endfor %}

    </div>

{% endblock content_page %}