<!doctype html>
<html xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Сайт портфолио</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="/static/html5/html5.js"></script>
    <![endif]-->

    <link href="/static/app/css/style.css?18" rel="stylesheet">

    {% block extra_header %}{% endblock %}


    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <link rel="icon" href="/static/icons/favicon.ico">
</head>
<body>
{% block page_all %}
    {% include 'includes/topnav.html' %}


    <div class="container wrapper">
        {% block top_header %}
        <div class="row"  id="logo">
            <div class="col-xs-12"><h3>{% block page_title %}page-title{% endblock %}</h3></div>
        </div>
        {% endblock %}

        <div class="col-sm-12 col-md-12" style="padding-top: 20px">

            

            {% block content_page %}

                <h1>Content</h1>

            {% endblock content_page %}


            <div class="clearfix text-muted" style="margin-top: 40px">
                <hr>
                <p>© Сайт-портфолио</p>
                <p>Разработчик Юсуф А.А.</p>
            </div>

        </div>

    </div>


{% endblock page_all %}
<script src="/static/jquery/jquery-1.12.4.min.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>


{% block extra_footer %}{% endblock %}

</body>
</html>
