body {
    padding-top: 60px;
    background-image: url('/static/app/images/bg.jpg');
    overflow-y: scroll;
}

div.post {
    padding-top: 30px;
}

div#comments {
    padding-top: 40px;
    padding-bottom: 40px;
}

div.comment {
    padding-top: 10px;
}

.wrapper {
    background-color: #ffffff;
    /* width: 980px; */
    margin-top: 30px;
    margin-bottom: 30px;

    -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 1);
}

.popover {
    max-width: 600px;
    width: 600px;
}

.comment-new {
    background-color: #e2e2e2;
}

#logo {
    margin-right: -15px;
    margin-left: -15px;
    background: #234e63;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo h4, #logo h5{
    color: #cccccc;
    margin-top: 15px;
}

#logo h3 {
    color: #cccccc;
    padding-left: 15px;
}

/* a {
    color: #234e63;
} */

[href$=".pdf"]:before,
[href$=".PDF"]:before {
  content: url("/static/app/images/doctype/pdf.png");
  padding-right: 5px;
}
[href$=".zip"]:before,
[href$=".rar"]:before {
  content: url("/static/app/images/doctype/archive.png");
  padding-right: 5px;
}
[href$=".doc"]:before,
[href$=".docx"]:before {
  content: url("/static/app/images/doctype/word.png");
  padding-right: 5px;
}
[href$=".jpg"]:before,
[href$=".png"]:before {
  content: url("/static/app/images/doctype/picture.png");
  padding-right: 5px;
}
[href$=".ppt"]:before,
[href$=".pptx"]:before {
  content: url("/static/app/images/doctype/presentation.png");
  padding-right: 5px;
}
[href$=".xls"]:before,
[href$=".xlsx"]:before {
  content: url("/static/app/images/doctype/excel.png");
  padding-right: 5px;
}
[href$=".mp4"]:before,
[href$=".avi"]:before {
  content: url("/static/app/images/doctype/movie.png");
  padding-right: 5px;
}
